<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{cxuu:site name="site_title"}</title>
    <meta name="keywords" content=" "/>
    <meta name="description" content=" "/>
    <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.2.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <link href="/theme/css/main.css" rel="stylesheet" type="text/css">
    <link href="/theme/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
{include file='header'/}
<div class="clear"></div>
<div id="main_top">
    <div id="topinfo">
        <div class="notes"></div>
    </div>
    <div class="clear"></div>

    <!--主内容开始-->
    <div id="main">
        <div id="recommend">
            <div class="firsttitle">
                {cxuu:contentlist cid="4,13,5" position="a" limit="1" cacheid="firsttitle"}
                <a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,36}</a>
                {/cxuu:contentlist}
            </div>
            <div class="rotation">
                <div id="focusBox" class="focusBox">
                    <div class="hd">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            {cxuu:contentlist cid="4" pic="true" position="c" limit="5" cacheid="focusBoxtop"}
                            <li>
                                <div class="pic"><a href="{:url('/content/'.$vo.id)}" target="_blank"><img
                                        src="{$vo.image}"/></a></div>
                                <div class="con"><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,32}</a>
                                </div>
                            </li>
                            {/cxuu:contentlist}
                        </ul>
                    </div>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                </div>
                <script type="text/javascript">jQuery(".focusBox").slide({
                    mainCell: ".bd ul",
                    autoPlay: true,
                    interTime: 5000
                });</script>
            </div>

            <div class="mleft">
                <div class="sectitle">
                    <div class="sect">
                        {cxuu:contentlist cid="4" position="b" limit="1" cacheid="sectitle"}
                        <a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title}</a>
                        {/cxuu:contentlist}
                    </div>
                    <div class="mleftlist">
                        <ul>
                            {cxuu:contentlist cid="4" limit="10" cacheid="gonggaolist"}
                            <li><span>[{$vo.created_date|date='m-d'}]</span>
                                <a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,28}</a>
                            </li>
                            {/cxuu:contentlist}
                        </ul>
                    </div>
                </div>
            </div>

            <div id="mright">
                <div class="mright">
                    <div class="topsearch">
                        <form class="navbar-form navbar-right" role="form" id="form1" name="form1" method=""
                              action="/index/search">
                          <span class="span1">
                          <input name="keywords" type="text" class="search-keyword" id="search-keyword"/>
                          </span>
                            <span class="span2"> <input type="submit" value="本站搜索" class="span2"/> </span>
                        </form>
                    </div>
                    <div class="clear"></div>
                    <div class="title">信息公开</div>
                    {cxuu:volist table="onduty" keyname="dutycat" value="1" status="1" limit="1" cacheid="onduty"}
                    <div class="onduty-name"><b>{$vo.name}</b></div>
                    {/cxuu:volist}

                    <div class="title">今日带班</div>
                    {cxuu:volist table="onduty" keyname="dutycat" value="1" status="1" limit="1" cacheid="onduty2"}
                    <div class="onduty-name"><b>{$vo.name}</b></div>
                    <div class="onduty">{$vo.duty} 手台呼号：{$vo.callsign}</div>
                    <div class="onduty">值班电话：{$vo.phone}</div>
                    {/cxuu:volist}

                </div>
            </div>

        </div>
    </div>

    <div class="clear"></div>
    <!--重要文件-->
    <div id="contform-sec">
        <div class="content-a">
            <a href="/index/Juleadermail" target="_blank">
                <div class="mail"></div>
            </a>
            <div class="title">伙房食谱</div>
            <div class="clear"></div>
            {cxuu:volist table="onduty" keyname="dutycat" value="1" status="1" limit="1" cacheid="onduty"}
            <div class="onduty-name"><b>{$vo.name}</b></div>
            <div class="onduty">{$vo.duty}</div>
            <div class="onduty">手台呼号：{$vo.callsign}</div>
            <div class="onduty">值班电话：{$vo.phone}</div>
            {/cxuu:volist}
        </div>

        <div class="content">
            <div class="title">
                <div class="bar"></div>
                <a href="/doc.html" target="_blank">重要文件</a></div>
            <div class="list">
                {cxuu:volist table="documents" limit="9" cacheid="documents"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/documents/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,22}</a>
                </li>
                {/cxuu:volist}
            </div>
        </div>
        <div class="content">
            <div class="title"><a href="/channel/8.html" target="_blank">通知通报</a></div>
            <div class="list">
                {cxuu:contentlist cid="5" limit="9" cacheid="tztb"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,22}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>
    </div>

    <div id="main">
        <a href="http://10.189.1.9/upload/other/jcge2017" target="_blank">
            <div class="ad_banner"></div>
        </a>
    </div>
    <!--媒体聚焦-->
    <div id="contform-sec">
        <div class="content-a">
            <a href="/musiclist.html" target="_blank">
                <div class="daily"></div>
            </a>
            <div class="list">
                {cxuu:volist table="onlinemusic" limit="9" cacheid="onlinemusic"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/music/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,22}</a>
                </li>
                {/cxuu:volist}
            </div>
        </div>

        <div class="content">
            <div class="title">
                <div class="bar"></div>
                <a href="/channel/5.html" target="_blank">党建队伍</a></div>
            <div class="list">
                {cxuu:contentlist cid="8" limit="9" cacheid="mtjj"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,22}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>
        <div class="content">
            <div class="title"><a href="/channel/8.html" target="_blank">理论学习</a></div>
            <div class="list">
                {cxuu:contentlist cid="20" limit="9" cacheid="bmgz"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,22}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="index_piclist" id="index_piclist">
        <div class="bd">
            <ul>
                {cxuu:contentlist cid="11,12,13" limit="9" pic="true" cacheid="pictop"}
                <li>
                    <div class="pic"><a href="{:url('/content/'.$vo.id)}" target="_blank"><img src="{$vo.image}"
                                                                                               width="130"
                                                                                               height="120"/></a></div>
                    <div class="title"><a href="{:url('/content/'.$vo.id)}" target="_blank" title="">{$vo.title|mbStr=0,13}</a>
                    </div>
                </li>
                {/cxuu:contentlist}
            </ul>
            <div class="fn-clear"></div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(".index_piclist").slide({
            mainCell: ".bd ul",
            autoPage: true,
            effect: "leftMarquee",
            autoPlay: true,
            vis: 6,
            trigger: "click",
            interTime: 50
        });
    </script>

    <div class="clear"></div>
    <!--党建队建-->
    <div id="contform-for">
        <div class="formtitle"></div>
        <div class="content-b">
            <div class="title"><a href="/channel/14.html">县区动态</a></div>
            <div class="list">
                {cxuu:contentlist cid="14" limit="9" cacheid="wjgz"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,13}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>
        <div class="content-b">
            <div class="title"><a href="/channel/10.html">警钟长鸣</a></div>
            <div class="list">
                {cxuu:contentlist cid="10" limit="9" cacheid="dwjs"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,13}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>
        <div class="content-b">
            <div class="title"><a href="/channel/15.html">监管文化</a></div>
            <div class="list">
                {cxuu:contentlist cid="15" limit="9" cacheid="jjjc"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,13}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>
        <div class="content-b">
            <div class="title"><a href="/channel/16.html">经验交流</a></div>
            <div class="list">
                {cxuu:contentlist cid="16" limit="9" cacheid="dcjw"}
                <li><span>[{$vo.created_date|date='m-d'}]</span><a href="{:url('/content/'.$vo.id)}" target="_blank">{$vo.title|mbStr=0,13}</a>
                </li>
                {/cxuu:contentlist}
            </div>
        </div>

    </div>
    <div class="clear"></div>

    {include file='footer'/}


</body>
</html>
