<div class="clear"></div>
<div id="main">
    <div id="footer">
        <a href="" target="_blank">关于我们</a> |
        <a href="" target="_blank">网管制度</a> |
        <a href="" target="_blank">意见提交</a> |
        <a href="" target="_blank">常用软件</a> |
        <a href="http://10.191.168.9/" target="_blank">旧版网站</a> |
        <a href="/admin" target="_blank">登录入口</a>
    </div>

    <div id="foot">
        <div class="foot_div">
            <ul>
                <li>{cxuu:site name="site_description"}</li>
                <li>龙啸轩 版权所有 2018</li>
                <li></li>
            </ul>

        </div>
    </div>
</div>