<div id="top"></div>

<div id="menu">
<ul>
  <li><a href="/" >首  页</a></li>
  <li><a href="/channel/4.html" target="_blank">支队简介</a></li>
  <li><a href="/channel/5.html" target="_blank">通知通报</a></li>
  <li><a href="/channel/5.html" target="_blank">监管法规</a></li>
  <li><a href="/channel/3.html" target="_blank">部门规章</a></li>
  <li><a href="/channel/8.html" target="_blank">在线音乐</a></li>
  <li><a href="/channel/7.html" target="_blank">常用软件</a></li>
  <li><a href="http://89.0.0.112:8080/GabFax/SendAction_allBrowse.action" target="_blank">内部FTP</a></li>
  </ul> 
<div class="cls"></div>
</div>
</div>


