<div id="top"></div>

<div id="menu">
<ul>
  <li><a href="/" >首  页</a></li>
  <li><a href="/channel/4.html" >公安要闻</a></li>
  <li><a href="/channel/5.html">通知通报</a></li>
  <li><a href="/channel/3.html" target="_blank">重要文件</a></li>
  <li><a href="/channel/8.html" target="_blank">媒体聚焦</a></li>  
  <li><a href="/channel/7.html" >政策法规</a></li>
  <li><a href="/channel/9.html" >每日动态</a></li>
  <li><a href="/channel/10.html" >队伍建设</a></li>
  <li><a href="/channel/14" >党建工作</a></li>
  </ul> 
<div class="cls"></div>
</div>
</div>


