@charset "utf-8";
html {margin-top:0;background: #f0f0f0;}
body {font-size:12px; font-family:"微软雅黑",tahoma,"宋体" _margin:0; _height:100%; margin-top:0; background:#f6f6f6;}
td {
	font-size: 12px;
	color: #000000;
	border: #000 solid 1px;
}
table {
	font-size: 12px;
	color: #000000;
	border: #000 solid 1px;
}
/* main */
#main { width:1200px; margin:auto;margin-top:10px;}


/* 头部下方信息栏 */
#content_topinfo {width:1200px; margin:auto; height:50px;margin-top:0px;background:#fff;}
#content_topinfo .timeinfo {margin-left:5px; float:left;line-height:50px; width:240px; padding-left:20px; padding-top:4px; }
#content_topinfo .timeinfo2 {margin-left:15px; float:left;line-height:50px; width:400px; color:#666;font-size:14px;}

#content_topinfo .topsearch {padding-top:14px; height:50px; float:right; line-height:20px; width:260px;padding-right:5px;}
#content_topinfo .topsearch .span1 { float:left;line-height:20px;height:20px; }
#content_topinfo .topsearch .span2 { width:80px;line-height:20px;height:24px; background-color:#397efd; color:#fff;font-size:14px;font-family:"微软雅黑",tahoma,"宋体";border:0;float:left;_margin-top:1px;}
#content_topinfo .topsearch input{height:20px; line-height:20px; }

/* 内容部分 */
.page { height:40px; line-height:40px; text-align:center; font-size:14px; }
.page strong { font-weight:normal }
#article_title { width:1130px; font-family:"黑体"; font-size:28px; line-height:35px; text-align:center; color:red; font-weight:bold; padding:10px; margin-top:20px; margin-bottom:20px; }
#article_info {height:30px; line-height:25px; text-align:center; color:#333; width:1100px; margin:12px auto 0px auto; padding-top:5px;}
#article_info span { padding:0 10px; }
#article_content_page {margin:auto; width:1200px;margin-top:2px;padding-top: 250px;background: no-repeat top center #fff;}

#page_content {width:1200px; }
#page_content {padding:0px; }
#page_content .article_content { padding-top:20px; color:#333; width:1100px; margin:0 auto; text-indent:0px; clear:both;}
#page_content .article_content p{overflow:hidden; font-size:20px; font-family:"仿宋";text-indent:0px;}
#page_content .article_content a { text-decoration:none; color:#0158cf; cursor:pointer; }

#article_box { padding:20px; margin-top:2px; }
.content_page { margin-top:12px; }
.content_page strong { color:#d00; }
.content_page div { height:24px; line-height:24px; font-weight:normal; padding-left:25px; }


#docsigninList {margin:auto; width:1180px; padding:10px;text-align:center;height:300px;background: #fff;}
#docsigninList .title{margin:auto;float: left; width:1180px;text-align:left;height:40px;line-height:40px;font-size: 18px;font-weight: bold;border-bottom: #0e84b5 solid 2px;}
#docsigninList .list{margin:auto;float: left; width:1180px; text-align:left;height:280px;font-size: 14px;}
#docsigninList .list li{margin:auto;float: left; width:586px; text-align:left;height:30px;line-height:30px;font-size: 14px;list-style: none;}
#docsigninList .list li span{margin:auto;float: left; width:100px; text-align:left;height:30px;line-height:30px;font-size: 14px;}

#docsigninList .list .b{font-weight: bold;}


#docsignin {margin:auto; width:1180px; padding:10px;text-align:center;height:60px;background: #fff;margin-top: 10px;}
#docsignin .docsignin{background-color:#fff;cursor:pointer; float:left; width:130px;height:60px;line-height:70px; border:1px solid #eee;margin-left:15px;font-size:18px;}
#docsignin .dsignin{background-color:#fff;float:left; width:330px;height:60px;line-height:70px; border:1px solid #eee;margin-left:15px;font-size:18px;}

#docsignin .dctext{margin:auto;height:30px;width:130px;line-height:25px;padding-top:20px;font-size:18px;color:red;font-weight: bold;}
#docsignin .dtext{margin:auto;height:30px;width:330px;line-height:25px;padding-top:20px;font-size:14px;color:blue;}

#docsignin .dcimg{margin:auto;height:60px;width:130px;}
#docsignin .dcimg img{margin:auto;height:60px;width:130px;}
