@charset "utf-8";
* { margin:0px auto; padding:0px; }
a { text-decoration:none; color:#000000; cursor:pointer; font-family:"微软雅黑","黑体";}
a:hover { color:#900; }

img { border:0px; }
.clear{clear:both;}

#top { width:1200px; height:250px; margin:auto;}

/* main */
#main { width:1200px; margin:auto;margin-top:10px;}


/*广告栏*/
.ad_banner { width:1200px; height:150px;background:url("../image/public/xjg_ad.jpg") no-repeat;}


/*头导航栏*/
#menu{height:60px;width:1200px;margin:0 auto;padding:0;background-color:#0170ce;background:url("../image/public/nav_bar.jpg") no-repeat;}
#menu ul{list-style:none;width:1200px;padding:0;}
#menu ul li{color:#5F0909;font-size:20px;height:60px;line-height:60px;overflow:hidden;float:left;width:130px;display:block;text-align:center;margin:0;padding:0;}
#menu ul li a{color:#fff;font-size:20px;font-family:"微软雅黑","黑体";}
#menu ul li a:visited {color:#fff;font-size:20px;font-family:"微软雅黑","黑体";}
#menu ul li a:hover {color:#9eecff;font-size:20px;font-family:"微软雅黑","黑体";}

/* 头部下方信息栏 */
#content_topinfo {width:1200px; margin:auto; height:70px;margin-top:0px;background:#fff;}
#content_topinfo .notes{margin-left:5px; float:left;line-height:50px;height:50px; width:840px; padding-left:10px; font-size:22px;color:#e80026;font-family:"黑体";font-weight:bold;}
#content_topinfo .timeinfo2 {margin-left:15px; float:left;line-height:50px; width:400px;font-size:14px;}

#content_topinfo .topsearch {padding-top:14px; height:36px; float:right; line-height:20px; width:260px;padding-right:5px;}
#content_topinfo .topsearch .span1 { float:left;line-height:20px;height:20px; }
#content_topinfo .topsearch .span2 { width:80px;line-height:20px;height:24px; background-color:#397efd; color:#fff;font-size:14px;font-family:"微软雅黑",tahoma,"宋体";border:0;float:left;_margin-top:1px;}
#content_topinfo .topsearch input{height:20px; line-height:20px; }





/* 页脚 background-image: url(imgv2/foot_bg.jpg); background-repeat:no-repeat; background-position:center;*/
#foot { margin: auto; text-align:center; line-height:30px; border-bottom:solid 1px #e6e6e6;}
.foot_div { margin: auto; width: 1007px; }
.foot_div ul { margin-top: 20px; width: 941px; }
.foot_div ul li { margin-top: 5px; width:auto; font-size:12px; line-height:25px; color:#000; list-style:none; }

#footer { text-align:center; width:1200px; height:40px; line-height:40px; margin-top:20px;background-color:#fff;}
#footer a{font-size:14px;color:#000}
#footer a:hover { color:#600}