
    <ul id="leftmenuc" class="nav nav-sidebar">
        <li class="active"><a href="#"><h4>用户管理</h4></a></li>
        <li><a href="javascript:;" onclick="targetmain('/admin/Adminusercontr')"><span class="glyphicon glyphicon-user"></span>管理员管理</a></li>
        <li><a href="javascript:;" onclick="targetmain('/admin/Adminusercontr/addedit')"><span class="glyphicon glyphicon-plus"></span>添加用户</a></li>
        <li><a href="javascript:;" onclick="targetmain('/admin/Admingroupcontr')"><span class="glyphicon glyphicon-king"></span>用户组管理</a></li>
        <li><a href="javascript:;" onclick="targetmain('/admin/Admingroupcontr/addedit')"><span class="glyphicon glyphicon-queen"></span>添加用户组</a></li>

    </ul>
  