<ul id="leftmenub" class="nav nav-sidebar">
    <li class="active"><a href="#"><h4>在线音乐</h4></a></li>
    {if getCxuuBaseAuth("Onlinemusiccontr_addEdit")}
    <li><a href="javascript:;" onclick="targetmain('/admin/Onlinemusiccontr/addEdit')"><span
            class="glyphicon glyphicon-modal-window"></span>添加音乐</a></li>
    {/if}
    {if getCxuuBaseAuth("Onlinemusiccontr_index")}
    <li><a href="javascript:;" onclick="targetmain('/admin/Onlinemusiccontr')"><span
            class="glyphicon glyphicon-menu-hamburger"></span>音乐列表</a></li>
    {/if}
</ul>
  