<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>龙啸轩网站管理-后台</title>
        {include file='resource'/}
    </head>
    <body>
        <div class="container">
		<div id="dvshow" class="alert alert-warning" role="alert">
			登录后台，本系统采用H5后台前端技术构建，请使用IE10以上版本或微软Edge浏览器，推荐使用chrome 45以上的google浏览器。否则很多功能无法使用。
			（<a href="/software/71.0.3559.6_chrome_installer.exe">点击下载安装chrome浏览器</a>）
		</div>

            <form role="form" id="form1" class="form-signin" name="form1" method="post"  action="">
                <h2 class="form-signin-heading">山南公安网站管理系统</h2>
                <label for="inputEmail" class="sr-only">用户名</label>
                <input type="text" name="username"  class="form-control" placeholder="用户名" autofocus>
                <label for="inputPassword" class="sr-only">密码</label>
                <input type="password" name="password" class="form-control" placeholder="密码" >
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember" value="remember-me"> 保存登录记录 (保存1天，否则1小时)
                    </label>
                </div>
                <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">登录</button>
            </form>
			
			
        </div>

        <script type="text/javascript">
            $("#dvshow").hide();
            $("#form1").hide();
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            if (userAgent.indexOf("Chrome") > -1){
                $("#form1").show();
            } else {
                $("#dvshow").show();
            }


            $(function () {
                $(":submit").click(function () {
                    var options = {
                        url: "/Admin/Login/loginAction",
                        dataType: "json",
                        method:"post",
                        success: function (data) {
                            if (data.result == 1) {
                                layer.msg(data.msg);
                                window.location.href = "/admin/index/";
                            } else {
                                layer.msg(data.msg);
                            }
                        }
                    };
                    $("#form1").ajaxForm(options);
                })
            })
        </script>
    </body> 
</html>